<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors />
        <services />
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointServices" contract="ServiceReference1.IMatematika"
                name="EndpointServices" />
        </client>
    </system.serviceModel>
</configuration>